.error {
	color: red;
}

.image-card {
	width: 30%;
}

.addable {
	cursor: pointer;
}

.addable img:hover {
	filter: brightness(.5);
	-webkit-filter: brightness(.5);
}

.image-wrapper {
	align-items:center;
	background: #f3f3f3;
	display: flex;
	height: 300px;
	justify-content:center;
}

.search input {
	margin: 40px 10%;
	text-align: center;
	width: 80%;
}

@media (min-width: 768px) {
	.navbar .nav-item.sign-out {
		float: right;
	}
}

h2 {
	margin: 20px 0 30px !important;
	text-align: center;
	width: 100%;
}

.form-control.comment-field {
	display: inline;
	width: 70%;
}

.card-block {
	height: 125px;
}

.editable {
	cursor: pointer;
}

.editable:hover {
	background: yellow;
}

.card-img-top {
	border-radius: 0 !important;
	height: auto;
	max-height: 100%;
	max-width: 100%;
	width: auto;
}

.card {
	border-radius: 0 !important;
}
